#include "windows.h"
#include "resources.h"

1 ACCELERATORS
{
  "O", IDM_OPEN, NOINVERT, CONTROL, VIRTKEY
  "W", IDM_CLOSE, NOINVERT, CONTROL, VIRTKEY
  "S", IDM_SAVE, NOINVERT, CONTROL, VIRTKEY
  "Q", IDM_EXIT, NOINVERT, CONTROL, VIRTKEY
  VK_F1,  IDM_ABOUT, NOINVERT, VIRTKEY
}

