#include "windows.h"
#include "resources.h"

1 MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&Open PAK File...\tCtrl+O",IDM_OPEN
    MENUITEM "&Save As...\tCtrl+S",IDM_SAVE,GRAYED
    MENUITEM "&Close\tCtrl+W",IDM_CLOSE,GRAYED
    MENUITEM SEPARATOR
    MENUITEM "E&xit\tCtrl+Q",IDM_EXIT
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&About...\tF1", IDM_ABOUT
  END
END
